<h2>{{title}}</h2>
<!--<ul>
 <li> <nav class="navrout"> <a routerLink="/signin">SignIn</a></nav></li>
 <li> <nav class="navrout"> <a routerLink="/register">Register</a></nav></li>
</ul>-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Expense Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="navrout">
          <a href="/signin" class="nav-link" routerLink="signin">SignIn</a>
        </li>
        <li class="navrout">
          <a href='/register' class="nav-link" routerLink="register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  