ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
li {
  background: lightgray;
  padding: 1em;
  margin-right: 10px;
  width: 20%;
  height: 200px;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}